
// compass mixins library
// @import "lib/_animate";
@import "lib/_compass";

// custom imports
@import "inc/config";
@import "inc/reset";
@import "inc/init";

@import "inc/fonts";
// @import "inc/grid_system";


// debug
.xdebug-error {
	font-size: pem(25);
	color: black;
	line-height: 1.5em;
}


* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
	font-family: $font-sec;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;

	font-size: pem(16);
	color: $color-txt;
	background-color: $color-bg-sec;
}

// main structure: center column
.main-container {
	width: $width-main;
	margin-left: auto;
	margin-right: auto;

	background-color: $color-bg-pri;

	// @include debug;
}



@import "inc/basic_elements";
@import "inc/forms";
@import "inc/header";
@import "inc/footer";
@import "inc/owl_carousel";
@import "inc/scrollrocket";
@import "inc/shake";


// basics for margins in the main column

.no-margin column {
	margin-left: 0;
	margin-right: 0;
}
.large-margin-column {
	margin-left: $margin-def * 4;
	margin-right: $margin-def * 4;
}
.standard-middle-column {
	width: percentage(700px / ($width-main - $margin-def * 8));
	min-width: 700px;
	margin-left: auto;
	margin-right: auto;
}


// basic responsive

@media #{$media-desktop} {
	// make sure we can scroll if no menu set
	body.no-scroll {
		overflow: visible;
		// plus fix for iOS undone
		position: relative;
		width: auto;
		height: auto;
	}
}

@media #{$media-tablet-min} {

	body {
		padding-top: $height-header-mobile-bar + $margin-header-mobile * 2;
	}

	header.main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		.container {
			height: $height-header-mobile-bar + $margin-header-mobile * 2;
		}
	}

	.large-margin-column {
		margin-left: $margin-def * 2;
		margin-right: $margin-def * 2;
	}

	.standard-middle-column {
		width: percentage(900px / ($width-main - $margin-def * 4));
		min-width: 0;
	}
}


// needs a little offset to prevent horizontal scrollbar
// was: 	#{$media-tablet}, #{$media-desktop-small}
@media (max-width: $width-main + 16) {
	.main-container {
		width: 100%;
	}
}

@media #{$media-phone} {
	.main-container {
		width: 100%;
	}

	.large-margin-column {
		margin-left: $margin-def * 1;
		margin-right: $margin-def * 1;
	}
}


@media (min-width: 520px) and (max-width: 850px) {
	.standard-middle-column {
		width: 100%;
	}
}


@media (max-width: 520px) {

	.standard-middle-column {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: $margin-def;
		padding-right: $margin-def;
	}
}

@import "inc/parallax";
@import "inc/ie_new_fixes";