/**
 * Controls.css
 *
 * CSS Style definitions for control-elements,
 * such as buttons, inputs and radio buttons
 *
 * @author Max van der Stam <max@clickmodelsapp.com>
 */
.button {
	white-space: nowrap;
	display: inline-block;
	height: 35px;
	max-height: 35px;
	min-height: 35px;
	overflow: hidden;
	border-radius: 18px;
	font: 400 14px/35px Oxygen;
	border: none;
	padding: 0 30px;
	cursor: pointer;
}

.input {
	height: 35px;
	max-height: 35px;
	min-height: 35px;
	overflow: hidden;
	padding: 0 18px;
	font: 400 14px/35px Oxygen;
	border: none;
	border-radius: 18px;
}

.button.clear,
.input.rounded {
	border: 1px solid #E8E8E8;
	background: #FFF;
}

.input.clear {
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	overflow: hidden;
	padding: 0 5px;
	border: 1px solid #CECECE;
	border-radius: 3px;
	background: #FBFBFB;
}

textarea.input.clear {
	resize: none;
	height: auto;
	overflow: auto;
	min-height: inherit;
	max-height: inherit;
	line-height: 16px;
	padding: 5px;
}

.button.orange {
	background: #FF9000;
	border-bottom: 1px solid #E17E00;
	color: #FFF;
}

.dropdown {
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	font: 13px/30px Arial;
	color: #545454;
	border-radius: 3px;
	cursor: pointer;
	padding: 0 10px;
}

.dropdown.grey {
	border: 1px solid #CECECE;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fbfbfb 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbfbfb 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbfbfb 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
}

.tabbar-dark {
	overflow: visible;
	height: 36px;
	position: relative;
}

.tabbar-dark:after {
	content: "";
	border-bottom: 1px solid #E0E0E0;
	left: 0;
	right: 0;
	top: 35px;
	position: absolute;
}

.tabbar-dark > li {
	float: left;
}

.tabbar-dark > li > input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.tabbar-dark > li > label {
	display: block;
	height: 36px;
	font: 13px/36px Arial;
	color: #545454;
	padding: 0 15px;
	border: 1px solid #E0E0E0;
	cursor: pointer;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
	background: #FFF;
	float: left;
}

.tabbar-dark > li > input:checked + label {
	background: #585858;
	border: none;
	color: #FFF;
	text-shadow: 0 1px 2px rgba(6, 6, 6, 0.6);
	padding: 1px 15px;
}

.tabbar-dark > li:first-child ~ li > input:checked + label {
	padding-left: 14px;
}

.tabbar-dark > li:first-child ~ li > label {
	border-left: none;
}

.tabbar-dark .delete-button {
	height: 36px;
	display: block;
	float: left;
	width: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	background: url('../img/sprite.png') no-repeat -95px -373px #FFF;
	position: relative;
	overflow: visible;
}

.tabbar-dark .delete-button:hover .delete-hover {
	opacity: 1;
	visibility: visible;
}

.tabbar-dark .delete-button .delete-hover {
	height: 0;
	left: -1000px;
	opacity: 0;
	overflow: visible;
	position: absolute;
	right: -1000px;
	text-align: center;
	top: -55px;
	transition: opacity 0.3s ease 0s;
	visibility: hidden;
}

.tabbar-dark .delete-button .delete-hover > div {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 12px;
	height: 41px;
	line-height: 41px;
	padding: 0 16px;
	position: relative;
	white-space: nowrap;
}

.tabbar-dark .delete-button .delete-hover > div:after {
	border-color: rgba(0, 0, 0, 0.85) transparent transparent;
	border-style: solid;
	border-width: 6px 6px 0;
	bottom: -6px;
	content: "";
	height: 0;
	position: absolute;
	width: 0;
	left: 47%;
}

.tabbar-dark > li > input:checked ~ .delete-button {
	width: 38px;
	background-color: #585858;
	border-left: 1px solid #828282;
}

.tabbar-dark .delete-button:hover {
	background-color: #D61318 !important;
}

/**
 * Clean checkboxes
 */
.checkbox-clean {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox-clean + label {
	line-height: 17px;
	height: 17px;
}

.checkbox-clean + label:before {
	background-image: url('../img/sprite_checkbox.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 17px;
	width: 17px;
	content: "";
	display: inline-block;
	margin-right: 8px;
	vertical-align: text-bottom;
}

.checkbox-clean + label:hover:before {
	background-position: 0 -27px;
}

.checkbox-clean:checked + label:before {
	background-position: 0 -54px;
}