#page .block.maps{
	background: none;
	padding: 105px 0;
}

#page .contact{
	padding: 50px 30px;
}

#map-canvas{
    position: fixed !important;
}

#page .case-header-wrapper{
	display: none;
}

#page .contact {
	float: left;
	background: #fff;
	height: 700px;
	width: 380px;
	padding: 50px 30px;
	text-align: left;
	color: #898989;
	font-size: 16px;
	line-height: 27px;
}

#page .contact h2 {
	line-height: 66px;
	font-size: 52px;
	letter-spacing: -3px;
	margin: 0;
}

#page .block.maps {
	background: none !important;
	padding: 105px 0 !important;
}

#page .block.maps {
	position: relative;
	overflow: hidden;
	height: auto !important;
}

.contact form input {
	width: 100%;
}

#page .contact .btn {
	width: 100%;
}

#contactform textarea.error {
	background-position: 290px 19px !important;
}

@media only screen and (max-width: 360px){

	#page .case-header-wrapper{
		display: block;
	}

	#page #gmaps{
		display: none;
	}

	#page .block.maps{
		background: #fff;
		padding: 14px 0;
	}

	#page .contact{
		padding: 50px 0px;
	}

}