
/*
 * Blog list columns
 */

@media #{$media-desktop} {
	$columns: 3;
	$marginColumn: $margin-def * 4;

	section.blog-list {


		article.blog {
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;
			margin-bottom: $marginColumn;

			&:nth-child(3n+3) {
				margin-right: 0;
			}
		}
	}

	#blog-list-gutter-size {
		width: $marginColumn;
	}
}

// smaller text to make it fit
@media #{$media-tablet} and (max-width: 880px),
		#{$media-desktop} and (max-width: 1180px),
		(max-width: 350px) {
	section.blog-list {
		article.blog {
			.h2 {
				font-size: pem(20);
			}
		}
	}
}

@media #{$media-tablet} {
	$columns: 2;
	// $marginColumn: $margin-def * 2;	// to set this, fix the 'gutter' stuff first...
	$marginColumn: $margin-def * 4;

	section.blog-list {
		font-size: 0;

		article.blog {
			font-size: 16px;
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;

			&:nth-child(2n+2) {
				margin-right: 0;
			}
		}
	}

	#blog-list-gutter-size {
		width: $marginColumn;
	}
}

@media #{$media-phone} {

	section.blog-list {

		article.blog {
			width: 100%;
			margin-right: 0;
		}
	}

	#blog-list-gutter-size {
		width: 0;
	}
}

// make search bar fit
@media (max-width: 450px) {
	section.blog-search {
		.input-container {
			width: 100%;
			min-width: 0;
		}
	}
}
@media (max-width: 350px) {
	section.blog-search {
		input[type=search] {
			padding-left: $margin-def * 2;
			padding-right: $margin-def;
		}
	}
}

/*
 * Blog details page
 */

// content column

@media #{$media-tablet-min} {

	section.blog-detail-banner .title,
	 section.blog-detail-content,
 	 footer.blog-detail {

		width: percentage(900px / ($width-main - $margin-def * 4));
	}

	section.blog-detail-banner .title {

		.h1 {
			font-size: pem(62);
		}
	}

	section.blog-detail-content {

		.h2 {
			font-size: pem(20);
		}
	}
}

@media (max-width: 660px) {

	section.blog-detail-banner .title {
		.h1 {
			font-size: pem(54);
		}
	}
}

@media (max-width: 520px) {

	$height: 270px;

	section.blog-detail-banner .title {
		width: 90%;
		padding-left: $margin-def;
		padding-right: $margin-def;
	}

	section.blog-detail-content,
 	 footer.blog-detail {
		width: 100%;
		padding-left: $margin-def;
		padding-right: $margin-def;
	}

	section.blog-detail-banner {
		height: $height;

		.title {
			padding-top: $margin-def;

			.h1 {
				font-size: pem(34);
			}
		}
	}
}