
/*
 * Cases grid
 */

$toTwoColumns : 850px;
$toOneColumn  : 520px;


@media (min-width: $toTwoColumns) {

	$columns      : 3;
	$marginColumn : $margin-def * 4;

	section.cases {

		// widths: 3rd vs wider
		.case {
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;

			&.wide {
				// use size-helper to force right height for wide cases
				// this is basically a hack to prevent problems with fixed px margins and
				// the impossibility within the frame of reference to calculate the correct margins:
				//
				// 		2/3s of the width, but taking into account 80px outside and 80px inside the wide case..
				//
				// so this just falls back to letting a square responsive-fixed shape determine the
				// height of the image-container
				.size-helper {
					display: block;
					width: calc(50% - #{$marginColumn / 2});

					&::before {
						@include pseudo-basic;
						width: 100%;
						height: 0;
						padding-top: 100%;
					}
				}
				.image {
					position: absolute;
					width: 100%;
					height: 100%;
					padding-top: 0;
				}

				width: calc(#{100% / $columns * 2} - #{$marginColumn - $marginColumn * ($columns - 1) / $columns});
			}
		}
		.case {

			// first of row
			&:nth-child(1),
			 &:nth-child(4),
			 &:nth-child(6),
			 &:nth-child(9) {
					clear: left;
			}

			// last of row
			&:nth-child(3),
			 &:nth-child(5),
			 &:nth-child(8),
			 &:nth-child(10) {
					margin-right: 0;
			}
		}
	}
}

@media #{$media-tablet} {

	$columns      : 3;
	$marginColumn : $margin-def * 2;

	section.cases {
		margin-bottom: $margin-def * 2;

		// widths: 3rd vs wider
		.case {
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;
			margin-bottom: $marginColumn;

			&.wide {
				width: 100%;
				.size-helper {
					width: calc(50% - #{$marginColumn / 2});
				}

				width: calc(#{100% / $columns * 2} - #{$marginColumn - $marginColumn * ($columns - 1) / $columns});
			}
		}
	}
}

@media (min-width: $toOneColumn) and (max-width: $toTwoColumns) {

	$columns      : 2;
	$marginColumn : $margin-def * 2;

	section.cases {

		// widths: 3rd vs wider
		.case {
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;
			margin-bottom: $marginColumn;

			&.wide {
				width: 100%;

				.size-helper {
					display: block;
					width: 100%;

					&::before {
						@include pseudo-basic;
						width: 100%;
						height: 0;
						// no idea why this is 1% off, but this works
						padding-top: 50% - 0.5;
					}
				}
				.image {
					position: absolute;
					width: 100%;
					height: 100%;
					padding-top: 0;
				}
			}
		}


		.case {

			// first of row
			&:nth-child(1),
			 &:nth-child(3),
			 &:nth-child(4),
			 &:nth-child(6),
			 &:nth-child(8),
			 &:nth-child(10) {
					clear: left;
			}

			// last of row
			&:nth-child(2),
			 &:nth-child(4),
			 &:nth-child(5),
			 &:nth-child(7),
			 &:nth-child(9),
			  &:nth-child(10) {
					margin-right: 0;
			}

			// quirky float order fix
			&:nth-child(5) {
				float: right;
				// funky hack to get right floated #5 next to #3 (so above #4)
				margin-top: calc(-100% - 217px);
			}
			&:nth-child(6) {
				clear: both;
			}

		}
	}
}

@media #{$media-phone} {

	$columns      : 2;
	$marginColumn : $margin-def;

	section.cases {
		margin-bottom: $margin-def * 3;

		.case {
			width: col-width-abs($columns, $marginColumn);
			margin-right: $marginColumn;
			margin-bottom: $marginColumn;

			&.wide {
				width: 100%;

				.size-helper {
					display: block;
					width: calc(100% - #{$marginColumn / 2});
				}
			}
		}

	}
}
@media (min-width: $toOneColumn) and (max-width: $width-phone) {

	section.cases {

		.case {
			// quirky float order fix
			&:nth-child(5) {
				// funky hack to get right floated #5 next to #3 (so above #4)
				margin-top: calc(-100% - 183px);
			}
		}
	}
}


@media (max-width: $toOneColumn) {

	$marginColumn : $margin-def;

	section.cases {

		.case {
			width: 100%;
			margin-bottom: $marginColumn * 2;
			margin-right: 0;

			&.wide {
				width: 100%;

				.size-helper {
					display: none;
				}
				.image {
					position: relative;
					width: 100%;
					height: 0;
					padding-top: 50%;
				}
			}
		}
	}
}



/*
 * Cases Detail
 */


// return link on top
@media (max-width: 1150px) {
	header.case {
		padding-top: $margin-def * 2;

		.title {
			text-align: center;

			.back-link {
				display: inline-block;
				top: auto;
				left: auto;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				text-align: center;
				margin-bottom: $margin-def * 2;
			}
		}
	}
}


// smaller title font
@media (max-width: 700px) {
	header.case {

		.title .h1 {
			font-size: pem(60);
			margin-left: $margin-def;
			margin-right: $margin-def;
			line-height: 1.2em;

			&.small      { font-size: pem(52); }
			&.medium     { font-size: pem(48); }
			&.large      { font-size: pem(42); }
			&.gargantuan { font-size: pem(24); }
		}

		.subtitle {
			font-size: pem(17);
			margin-left: $margin-def;
			margin-right: $margin-def;
		}

		.back-link {
			font-size: pem(15);

			a::before, a::after {
				top: 3px;
			}
		}
	}
}
@media (max-width: 580px) {
	header.case .title .h1 {
		font-size: pem(50);

		&.small      { font-size: pem(42); }
		&.medium     { font-size: pem(38); }
		&.large      { font-size: pem(32); }
		&.gargantuan { font-size: pem(20); }
	}
}


// intro
@media (max-width: 450px) {
	section.case-introduction .case-link {
		.button {
			width: 100%;
			min-width: 0;
		}
	}
}

// text sections
@media (max-width: 750px) {

	$widthMax: 700px;

	section.case-text,
	section.case-text:nth-child(2n+1) {

		.text {
			display: block;
			position: relative;
			width: 100%;
			text-align: center;
			margin-bottom: $margin-def * 3;
		}

		.image {
			display: block;
			float: none;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			width: 100%;
			max-width: $widthMax;

			img {
				width: 100%;
			}
		}

		&.text-only {
			.text {
				margin-bottom: 0;
			}
		}
	}
}