$mediaSwitchTwoCol: 940px;

@media #{$media-desktop}, #{$media-tablet} {

	section.home-services {
		section.service {

			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(3n+1) {
				clear: left;
			}

			section {
				min-height: $home-service-text-min-height;
			}
		}
	}

	section.home-blog {
		article.blog {

			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}

}

@media #{$media-tablet} {

	$marginColumn: $margin-def * 2;

	section.home-services {

		section.service {
			width: col-width-abs(3, $marginColumn);
			margin-right: $marginColumn;

			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}

	section.home-blog {
		article.blog {
			width: col-width-abs(3, $marginColumn);
			margin-right: $marginColumn;

			&:nth-child(3n+3) {
				margin-right: 0;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}

}

@media #{$media-tablet} and (max-width: $mediaSwitchTwoCol) {

	$marginColumn: $margin-def * 2;

	section.home-services {

		section.service {
			width: col-width-abs(2, $marginColumn);
			margin-right: $marginColumn;

			&:nth-child(3n+3) {
				margin-right: $marginColumn;
			}
			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				clear: none;
			}

			section {
				min-height: $home-service-text-min-height + 1em;
			}
		}
	}

	section.home-blog {
		article.blog {
			width: col-width-abs(2, $marginColumn);
			margin-right: $marginColumn;

			&:nth-child(3n+3) {
				margin-right: $marginColumn;
			}
			&:nth-child(3n+1) {
				clear: none;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}
			&:nth-child(2n+1) {
				clear: none;
			}

			// hide 3rd post for now
			&:nth-child(3) {
				display: none;
			}
		}
	}
}

// special for location/address: too small? change ratio
@media #{$media-tablet} and (max-width: 840px) {
	section.home-contact {
		margin-top: $margin-def * 2;
		width: col-width-abs(2, $margin-def * 2);
		margin-right: $margin-def * 2;
	}
	section.home-location {
		margin-top: $margin-def * 2;
		width: col-width-abs(2, $margin-def * 2);
	}
}


@media #{$media-phone} {

	section.home-services {

		section.service {
			float: none;
			clear: both;
			width: 100%;
			margin-right: 0;
			min-height: 0;
		}
	}

	section.home-blog {
		article.blog {
			float: none;
			clear: both;
			width: 100%;
			margin-right: 0;

			// hide 2nd & 3rd post for now
			&:nth-child(2),
			&:nth-child(3) {
				display: none;
			}
		}
	}

	section.home-social {
		display: none;
	}

	section.home-contact,
	 section.home-location {
		float: none;
		clear: both;
		width: 100%;
	}

	section.home-contact {
		.contact-form {
			max-width: none;
		}
	}

	section.home-location {
		margin-top: $margin-def * 4;
	}
}

// tweaks for some text not fitting in services titles
@media #{$media-desktop} and (max-width: 1120px) {
	section.home-services section.service .h2 {
		font-size: pem(20);
	}
}
@media (min-width: $mediaSwitchTwoCol) and (max-width: 960px) {
	section.home-services section.service .h2 {
		font-size: pem(20);
	}
}