
// compass mixins library
// @import "lib/_animate";
@import "../lib/_compass";

// custom imports
@import "../inc/config";
@import "../inc/init";


section.blog-search {

	$widthInput: 380px;

	margin-bottom: $margin-def * 2.5;

	.input-container {
		min-width: $widthInput;
		width: $widthInput;
		margin-left: auto;
		margin-right: auto;
	}

	input[type=search] {
		padding-left: $margin-def * 2.5;
		padding-right: $margin-def * 2.5;
		text-align: center;
	}

}

#blog-list-gutter-size {
	position: absolute;
	opacity: 0;
	top: -1px;
	left: -1px;
	width: 1px;
	heigth: 1px;
}

section.blog-list {

	$heightLink: 20px;
	font-size: 0;

	article.blog {
		font-size: 16px;
		display: inline-block;
		margin-bottom: $margin-def * 4;
		vertical-align: top;

		.h2 {
			display: inline-block;
			color: $color-txt-dark;
			font-family: $font-pri;
			font-size: pem(24);
			@include adjusted-lh(1.2);
			transition: color $speed-menu;
		}

		header {
			position: relative;
			margin-bottom: $margin-def * 1.5;

			> a {
				display: block;

				&:hover, &:active {
					.h2 {
						color: $color-pri;
					}
				}
			}

			> * {
				vertical-align: middle;
			}

			.image {
				margin-bottom: $margin-def * 1.5;
				width: 100%;
				height: 0;
				padding-top: 50%;
				background-color: $color-bg-sec;
			}
		}

		section {
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}

		footer {
			margin-top: $margin-def;
			line-height: $heightLink;

		}
	}

}

section.blog-list-empty {

	// font-size: 16px;
	padding-top: $margin-def * 4;
	padding-bottom: $margin-def * 6;
	text-align: center;
	font-size: pem(17);
	font-style: italic;
}


section.blog-next {

	margin-bottom: $margin-def * 4;
	text-align: center;

	hr {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: $margin-def * 4;
	}

	.button {
		min-width: 340px;
	}
}



/*
 * Blog Detail page
 */

$heightBanner: 418px;

section.blog-detail-banner {

	@include bg-cover;
	position: relative;
	height: $heightBanner;

	.container {
		position: relative;
		max-width: $width-main;
		background-color: $color-sec;
		font-size: 0;
		text-align: center;
		height: $heightBanner;

		&:before {
			@include pseudo-basic;
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			font-size: $fontsize-base;
		}
	}


	.back-link {
		font-size: $fontsize-base;
		position: absolute;
		top: $margin-def * 2;
		left: $margin-def * 2.5;

		a {
			font-size: pem(17);
			color: white;

			// &:hover, &:active {
			// 	color: darken(white, 5);
			// }
		}

	}

	.title {
		font-size: $fontsize-base;
		display: inline-block;
		vertical-align: middle;

		width: percentage(700px / ($width-main - $margin-def * 8));

		.h1 {
			color: white;
			font-size: pem(82);
			line-height: 0.96em;
			transition: font-size $speed-fast;
			text-align: left;
		}
	}
}

.parallax-offset-filler {
	height: $heightBanner;
}


// widths
section.blog-detail-content,
 footer.blog-detail {

	width: percentage(700px / ($width-main - $margin-def * 8));
	margin-left: auto;
	margin-right: auto;
}

section.blog-detail-content {
	padding-top: $margin-def * 5;
	margin-bottom: $margin-def * 3.5;
	@include adjusted-lh(1.85);
}

footer.blog-detail {

	$height: 90px;

	padding-bottom: $margin-def * 4;
	line-height: $height;

	$sizeButton : 24px;
	$sizeIcon   : 22px;

	.container {
		@include cf;
		border-top: 1px solid $color-brd;
		border-bottom: 1px solid $color-brd;
	}

	.author {
		float: left;
	}

	.share {
		@include cf;
		float: right;
		padding-left: $margin-def * 2;

		.text {
			display: inline-block;
		}
	}
	.share-links {

		display: inline-block;
		margin-left: $margin-def;
		// float: left;

		a {
			vertical-align: middle;
			font-size: 0;
			position: relative;
			display: inline-block;
			width: $sizeButton;
			height: $sizeButton;
			margin-right: $margin-def / 3;

			&::before, &::after {
				@include pseudo-basic;
				@include bg-contain;
				position: absolute;
				width: $sizeIcon;
				height: $sizeIcon;
				top: c-off($sizeButton, $sizeIcon);
				left: c-off($sizeButton, $sizeIcon);
				transition: opacity 1s;
			}

			&::after {
				opacity: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover, &:active {
				&::before {
					opacity: 0;
				}
				&::after {
					opacity: 1;
				}
			}
		}

		.twitter {
			&::before {
				background-image: image-url('twitter-color.svg');
			}
			&::after {
				background-image: image-url('twitter-pink.svg');
			}
		}
		.facebook {
			&::before {
				background-image: image-url('facebook-color.svg');
			}
			&::after {
				background-image: image-url('facebook-pink.svg');
			}
		}
	}
}


@import "../inc-content/blog_r";