
// compass mixins library
// @import "lib/_animate";
@import "../lib/_compass";

// custom imports
@import "../inc/config";
@import "../inc/init";


section.blog-search {

	margin-bottom: $margin-def * 2.5;

	.input-container {
		margin-left: auto;
		margin-right: auto;
	}

	input[type=search] {
		padding-left: $margin-def * 2.5;
		padding-right: $margin-def * 2.5;
		text-align: center;
	}

}


section.blog-list {

	$heightLink: 20px;
	font-size: 0;

	article.blog {
		font-size: 16px;
		display: inline-block;
		margin-bottom: $margin-def * 4;
		vertical-align: top;

		.h2 {
			display: inline-block;
			color: $color-txt-dark;
			font-family: $font-pri;
			font-size: pem(24);
			@include adjusted-lh(1.2);
			transition: color $speed-menu;
		}

		header {
			position: relative;
			margin-bottom: $margin-def * 1.5;

			> a {
				display: block;

				&:hover, &:active {
					.h2 {
						color: $color-pri;
					}
				}
			}

			> * {
				vertical-align: middle;
			}

			.image {
				margin-bottom: $margin-def * 1.5;
				width: 100%;
				height: 0;
				padding-top: 50%;
				background-color: $color-bg-sec;
			}
		}

		section {
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}

		footer {
			margin-top: $margin-def;
			line-height: $heightLink;

		}
	}

}


section.blog-next {

	margin-bottom: $margin-def * 4;
	text-align: center;

	hr {
		margin-left: auto;
		margin-right: auto;
	}

	.button {
	}
}

@import "../inc-content/blog_r";