
// compass mixins library
// @import "lib/_animate";
@import "../lib/_compass";

// custom imports
@import "../inc/config";
@import "../inc/init";


$widthVideo  : 1300px;
$heightVideo : 600px;

section.home-video {

	position: relative;
	width: 100%;
	height: 0;
	padding-top: percentage($heightVideo / $widthVideo);

	// background-color: $color-bg-sec;
	background-color: white;

	.video-container {
		@include absolute-cover;
	}

	video,
	 img {
		@include absolute-cover;
		z-index: $z-content - 1;
		min-width: 100%;
		min-height: 100%;
	}

	// mobile is a still image with different
	// dimensions
	&.mobile {
		$widthVideo  : 400px;
		$heightVideo : 300px;

		padding-top: percentage($heightVideo / $widthVideo);

		img {
			width: 100%;
			height: 100%;
		}
	}
}


section.home-services {

	$sizeIcon: 34px;
	$heightLink: 20px;
	$marginColumn: $margin-def * 4;

	@include cf;

	padding-top: $margin-def * 4;

	// looks a bit weird, but is in design:
	// border-top: 4px solid $color-brd-light;

	section.service {
		float: left;
		width: col-width-abs(3, $marginColumn);
		margin-right: $marginColumn;
		margin-bottom: $margin-def * 4;

		.h2 {
			display: inline-block;
			color: $color-txt-dark;
			font-family: $font-pri;
			// font-weight: $bold;
			font-size: pem(24);
			line-height: $sizeIcon;
			margin-top: $font-upshift;
			transition: color $speed-menu;
		}

		header {

			a {
				display: block;
				position: relative;

				> * {
					vertical-align: middle;
				}

				&:hover, &:active {

					.h2 {
						color: $color-pri;
					}

					.icon {
						opacity: 0.75;
					}
				}
			}

			margin-bottom: $margin-def * 1.5;

			.icon {
				display: inline-block;
				width: $sizeIcon;
				height: $sizeIcon;
				margin-right: $margin-def;
				@include bg-image('service-strategie.svg');
				opacity: 0.5;
				transition: opacity $speed-menu;
			}
		}

		.icon {
			// &.service-strategie        { background-image: image-url('service-strategie.svg'); }
			&.service-design           { background-image: image-url('service-design.svg'); margin-top: -8px; }
			&.service-development      { background-image: image-url('service-development.svg'); }
			&.service-campagnes        { background-image: image-url('service-campagnes.svg'); margin-top: -4px; }
			&.service-online-marketing { background-image: image-url('service-online-marketing.svg'); }
			&.service-emailmarketing   { background-image: image-url('service-emailmarketing.svg'); margin-top: -8px; }
		}

		section {
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}

		footer {
			margin-top: $margin-def * 2;
			line-height: $heightLink;

		}
	}
}

section.cases {
	margin-bottom: $margin-def * 4;
}


section.home-blog {

	$heightLink: 20px;
	$marginColumn: $margin-def * 4;

	@include cf;

	margin-bottom: $margin-def * 4;

	article.blog {
		float: left;

		.h2 {
			display: inline-block;
			color: $color-txt-dark;
			font-family: $font-pri;
			font-size: pem(24);
			@include adjusted-lh(1.2);
			transition: color $speed-menu;
		}

		header {
			position: relative;
			margin-bottom: $margin-def * 1.5;

			> a {
				display: block;

				&:hover, &:active {
					.h2 {
						color: $color-pri;
					}
				}
			}

			> * {
				vertical-align: middle;
			}

			.image {
				margin-bottom: $margin-def * 1.5;
				width: 100%;
				height: 0;
				padding-top: 50%;
				background-color: $color-bg-sec;
			}
		}

		section {
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}

		footer {
			margin-top: $margin-def;
			line-height: $heightLink;

		}
	}

	.owl-controls {
		margin-top: $margin-def * 3;
	}
}


section.home-contact-and-location {
	@include cf;
	margin-bottom: $margin-def * 4;

	.h2 {
		margin-bottom: $margin-def * 2;
	}
}

section.home-contact {
	float: left;
	margin-top: $margin-def * 4;
	width: col-width-abs(2, $margin-def * 4);
	margin-right: $margin-def * 4;

	p {
		font-size: pem(17);
		@include adjusted-lh( 34 / 17 );
	}

	hr {
		text-align: left;
	}

	#contact-form-thanks {
		display: none;
		font-size: pem(17);
		@include adjusted-lh( 34 / 17 );
		margin-bottom: $margin-def * 2;
		max-width: 320px;
	}
}

section.home-location {
	float: left;
	margin-top: $margin-def * 4;
	width: col-width-abs(2, $margin-def * 4);
}

section.home-location-address {

	$widthMarker  : 30px;
	$heightMarker : 46px;

	p {
		font-size: pem(17);
		@include adjusted-lh( 34 / 17 );
		padding-left: 54px;

		a {
			transition: color $speed-fast;
			color: $color-txt-dark;

			&:hover, &:active {
				color: $color-pri;
			}
		}
	}

	p.with-marker {
		position: relative;
		margin-bottom: $margin-def * 1.5;

		&::before {
			@include pseudo-basic;
			@include bg-cover('map-marker.svg');
			position: absolute;
			top: 0.5em;
			left: 0;
			width: $widthMarker;
			height: $heightMarker;
		}

	}
}

section.home-location-video {

	margin-top: $margin-def * 3;

	$widthVideo  : 530px;
	$heightVideo : 265px;
	$sizeIcon    : 91px; // play icon
	$sizeArrow   : 36px;

	div.video {
		position: relative;
		width: 100%;
		height: 0;
		padding-top: percentage($heightVideo / $widthVideo);
		background-color: $color-sec;
		border-radius: 6px;
	}

	.video-container {
		@include absolute-cover;
		overflow: hidden;
	}

	video {
		@include absolute-cover;
		z-index: $z-content - 1;
		min-width: 100%;
		min-height: 100%;
	}

	img {
		width: 100%;
	}

	.video-play-button {
		position: absolute;
		z-index: $z-content + 1;
		left: 50%;
		top: 50%;
		margin-left: -1 * $sizeIcon / 2;
		margin-top: -1 * $sizeIcon / 2;
		width: $sizeIcon;
		height: $sizeIcon;
		border-radius: 50% 50%;
		border: 3px solid white;
		cursor: pointer;

		&::after {
			@include pseudo-basic;
			position: absolute;
			width: $sizeArrow;
			height: $sizeArrow;
			top: c-off($sizeIcon, $sizeArrow);
			left: c-off($sizeIcon, $sizeArrow);
			@include bg-contain('playbutton.svg');
		}
		// ...
	}
}


@import "../inc-content/home_r";
@import "../inc-content/cases-banner";
@import "../inc-content/social-banner";
@import "../inc/preroll";
