
// compass mixins library
// @import "lib/_animate";
@import "../lib/_compass";

// custom imports
@import "../inc/config";
@import "../inc/init";


nav.service-categories {

	$sizeIconContainer : 38px;
	$sizeIcon          : 32px;
	$height            : 100px;
	$heightTitle       : 26px;
	// $delayBack         : 0.5s;		// delay time before hover effect disappears

	height: $height;
	border-top: 1px solid $color-brd-light;
	position: relative;
	@include cf;

	a.service-cat {
		position: relative;
		display: block;
		float: left;
		width: percentage(1 / 6);
		height: 100%;
		border-left: 1px solid $color-brd-light;
		line-height: $height;

		&:first-child {
			margin-left: 0;
		}

		> div {
			position: relative;
			width: 100%;
			height: $sizeIconContainer;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			overflow: hidden;
			line-height: 1em;

			transition: height $speed-menu;
		}

		&:hover, &:active {

			> div {
				height: $sizeIconContainer + $heightTitle;
			}

			.icon {
				opacity: 1;
			}

			.h3 {
				color: $color-txt-menu;
				bottom: $font-upshift-neg;	// adjust for helvneue crap
				opacity: 1;

				transition: bottom $speed-menu,
		                    opacity $speed-menu / 2 0.2s;
			}
		}

		&.active {
			.icon {
				opacity: 1;
				background-image: none;

				&::after {
					display: inline-block;
				}
			}
		}
	}

	.icon {
		position: relative;
		display: inline-block;
		line-height: $sizeIcon;
		margin: c-off($sizeIconContainer, $sizeIcon);
		width: $sizeIcon;
		height: $sizeIcon;
		opacity: 0.5;
		transition: opacity $speed-menu;
		@include bg-image('service-strategie.svg');

		&::after {
			@include pseudo-basic;
			@include absolute-cover;
			@include bg-image('service-strategie-pink.svg');
			display: none;
		}

		// &.service-strategie        { background-image: image-url('service-strategie.svg'); }
		&.service-design           { background-image: image-url('service-design.svg'); margin-top: c-off($sizeIconContainer, $sizeIcon) - 4; }
		&.service-development      { background-image: image-url('service-development.svg'); }
		&.service-campagnes        { background-image: image-url('service-campagnes.svg'); margin-top: c-off($sizeIconContainer, $sizeIcon) - 2; }
		&.service-online-marketing { background-image: image-url('service-online-marketing.svg'); }
		&.service-emailmarketing   { background-image: image-url('service-emailmarketing.svg'); margin-top: c-off($sizeIconContainer, $sizeIcon) - 4; }

		// &.service-strategie::after        { background-image: image-url('service-strategie-pink.svg'); }
		&.service-design::after           { background-image: image-url('service-design-pink.svg'); }
		&.service-development::after      { background-image: image-url('service-development-pink.svg'); }
		&.service-campagnes::after        { background-image: image-url('service-campagnes-pink.svg'); }
		&.service-online-marketing::after { background-image: image-url('service-online-marketing-pink.svg'); }
		&.service-emailmarketing::after   { background-image: image-url('service-emailmarketing-pink.svg'); }
	}

	.h3 {
		position: absolute;
		left: 0;
		width: 100%;
		height: $heightTitle;
		line-height: $heightTitle;
		padding-top: $font-upshift;

		font-size: pem(14);
		font-family: $font-pri;
		font-weight: $normal;
		color: $color-txt-menu;

		bottom: -1 * $heightTitle;
		opacity: 0;

		transition: bottom $speed-menu,
		            opacity $speed-menu / 3;
	}
}



section.service-banner {

	$width: 1300px;
	$height: 470px;

	position: relative;
	width: 100%;
	height: 0;
	padding-top: percentage($height / $width);
	background-color: #999;
	margin-bottom: $margin-def * 4;

	@include bg-cover;

	.container {
		@include absolute-cover;
		@include cf;
		padding: $margin-def * 4;
		padding-bottom: $margin-def * 2;
		transition: padding $speed-fast;
	}

	.title, .super, .caption {
		color: white;
		transition: font-size $speed-fast,
					margin $speed-fast;
	}

	.title {
		font-family: $font-sec;
		font-size: pem(24);
	}

	.super {
		margin-top: $margin-def * 2;
		font-size: pem(82);
		line-height: 0.8em;
	}

	.caption {
		font-family: $font-sec;
		font-size: pem(15);
		position: absolute;
		left: $margin-def * 4;
		bottom: $margin-def * 2;
	}

}


section.service-content {

	@include cf;
	margin-bottom: $margin-def * 4;

	.main-text {
		float: left;
		width: col-width-abs(2, $margin-def * 4);
		margin-right: $margin-def * 4;

		.text {
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}

		.h1 {
			margin-bottom: $margin-def * 1.5;
		}
	}

	.aside-text {
		float: left;
		width: col-width-abs(2, $margin-def * 4);

		.bullet-list {
			font-size: pem(17);
			@include adjusted-lh(2);
			margin-bottom: $margin-def * 2 + adjust-top-lh-px($lineheight-def);
		}

		.h2 {
			padding-top: 8px; // to get baseline equal to .h1
			padding-bottom: 3px; // make same height as .h1
			margin-bottom: $margin-def * 1.5;
		}

		.content-checkmark {
			margin-right: $margin-def * 0.75;
			margin-top: -3px;
		}
	}

	.quotation {
		border-top: 1px dotted #bdbdbd;
		padding-top: $margin-def * 2;
		padding-bottom: $margin-def * 2;

		.quote {
			@include adjusted-lh(34 / 24);
			font-size: pem(24);
			font-family: $font-light;
		}

		.source {
			padding-top: $margin-def;
			font-size: pem(17);
			@include adjusted-lh($lineheight-def);
		}
	}
}


section.service-cases {
	margin-bottom: $margin-def * 4;

	.case {
		position: relative;

		.image {
			width: 100%;
			height: 0;
			padding-top: 100%;
			@include bg-cover;
			margin-bottom: $margin-def;
		}

		.caption {
			text-align: center;
		}

		.subtitle {
			font-size: pem(17);
			font-family: $font-sec;
			font-style: italic;
			line-height: $lineheight-def;
			margin-bottom: $margin-def / 4;
		}

		.title {
			font-size: pem(20);
			@include adjusted-lh(1.3);
			font-family: $font-pri;
			color: $color-txt-dark;
		}
	}
}

@import "../inc-content/services_r";

