/* top level html containers */
html { height: 100%; overflow: auto; overflow-y: scroll; }
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: url(../img/header.jpg) no-repeat left top #000817;
	text-align: justify;
	color: #000;
	font-size: 12px;
}

body, select, textarea, input { font-family: 'Calibri', 'Trebuchet MS', Arial, Helvetica, sans-serif; font-size: 12px; }

input[type=checkbox], input[type=image] { 
	background: transparent;
	border: 0px;
}
input[type=hidden] {
	position: absolute;
	visibility: hidden;
}

input[type=submit], input[type=button] { 
	background: url(../img/button.gif) no-repeat;
	width: 112px;
	height: 24px;
	border: 0px;
	color: #555;
}
input[type=submit]:hover, input[type=button]:hover {
	background-image: url(../img/button_over.gif);
	color: #000;
}

/* form-elements */
input, select, textarea {
	display: block;
	background: #f4f4f4;
	border: 1px solid #aaa;
	margin-bottom: 12px;
}

/* general styling rules */
a { color: #000; }
a:hover { color: #d31114; }
table, form, p, img { border: 0px; margin: 0px; padding: 0px; }

/* form validation */
input.disabled { border: 1px solid #F2F2F2; background-color: #F2F2F2; }
input.requi#d31114, textarea.requi#d31114 { border: 1px solid #ff6200; background: #231f1d; color: #fff; }
input.validation-failed, textarea.validation-failed { border: 1px solid #FF3300; color : #FF3300; }
input.validation-passed, textarea.validation-passed { border: 1px solid #00CC00; color : #fff; }
.validation-advice { color: #FF3300; font-weight: bold; }
.custom-advice { color: #C8AA00; font-weight: bold; }

/* mainframe */
#mainframe {
	background: transparent;
	padding: 119px 42px 0 42px;
	text-align: left;
}

h1, h2, h3, h4 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 15px 0;
	padding: 0px;
}
h3 {
	margin-top: 25px;
	font-size: 14px;
	display: block;
	border-bottom: 1px solid #b5b7ba;
}
h4 {
	display: block;
	text-align: center;
	margin: 0 0 5px 0;
	font-size: 14px;
}

#navigation {
}
#navigation div.item {
	background-repeat: no-repeat;
	padding-left: 22px;
	margin-bottom: 8px;
	padding-top: 1px;
	text-align: left;
	cursor: pointer;
}
#navigation div.item:hover {
	color: #5e5e63;
}

#footer {
	padding: 10px 0 10px 0;
	font-size: 12px;
	color: #42464e;
	text-align: center;
}

.widget_title {
	margin-top: 8px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.widget_title a {
	color: #fff;
	margin: 0 5px 0 5px;
}
.widget_title a:hover {
	color: #d31114;
}

.cell_right_spaced input, .cell_right_spaced select, .cell_right_spaced textarea {
	margin: 4px 0 4px 0;
	padding: 2px;
}

.cell_right_spaced td, .cell_right_spaced th { padding-right: 15px; }
.cell_right_spaced td.last_column, .cell_right_spaced th.last_column { padding-right: 0px; }


#breadcrumb {
	float: right;
	font-size: 12px;
	padding-top: 3px;
	font-weight: normal;
}

#feedback, #feedback_error {
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 20px 20px;
	color: #428a36;
}
#feedback_error, .error {
	color: #c22121;
}

#loading_indicator {
	position: absolute;
	top: 128px;
	right: 60px;
	height: 16px;
	width: 70px;
	color: #fff;
	background: url(../img/loading_indicator.gif) no-repeat right top;
}

ul.select_or_move {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
ul.select_or_move li {
	display: block;
	background: #e4e4e4;
	padding: 2px;
	border-bottom: 1px solid #fff;
	cursor: pointer;
}
ul.select_or_move li:hover {
	background: #888e9b;
	color: #fff;
}
ul.select_or_move li.selected {
	background: #454a4e;
	color: #fff;
}
ul.select_or_move li i { color: #777; }
ul.select_or_move li:hover i { color: #444; }
ul.select_or_move li.selected i { color: #999; }

tr.list_head { background: #454a4e; }
tr.list_head th { color: #fff; font-weight: bold; }
tr.list_row { background: #e4e4e4; }
tr.list_row td { border-top: 1px solid transparent; }

.warning {
	display: block;
	text-align: center;
	background: white;
	border: 2px solid red;
	color: red;
	font-weight: bold;
	padding: 2px 7px 2px 7px;
	margin-top: 5px;
}

tr.uneven {
	background: #cbcdd0;
}
tr.even {
	background: #e6e8ec;
}

#entries table.entry tr { background: #e4e4e4 }
#entries table.dark tr { background: #cfcfd1 }
#filters table.folder tr { background: #cfcfd1; }
#categories table.folder tr { background: #cfcfd1; }
#categories table.move_to_category tr, #categories table.move_to_category a { background: #44577b; color: #fff; }
table.header { background: #767e8d; color: #fff; }

.datepicker { border: 1px solid black; width: 208px; height: 234px; position: absolute; z-index: 9999; }
.datetimepicker { border: 1px solid black; width: 208px; height: 264px; position: absolute; z-index: 9999; }
.pxl_datepicker, .pxl_datetimepicker { visibility: hidden; }

ul.image_list, ul.files_list {
	padding: 0px;
	margin: 0px;
	list-style-image: none;
}

ul.image_list li, ul.files_list li {
	background: #ddd;
	padding: 1px;
	display: block;
	margin-bottom: 1px;
}

input.image_caption {
	display: inline;
	background: url(../img/label.gif) 2px 1px no-repeat #f8f8f8;
	padding-left: 23px;
	margin: 0px;
	margin-top: 1px;
	width: 230px;
	font-style: italic;
	color: #000;
	border: 0px;
}

#topmenu {
	position: absolute;
	right: 75px;
	top: 55px;
}

#topmenu a, #topmenu img {
	display: block;
	height: 50px;
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	opacity:.25;
	float: right;
	margin-left: 18px;
}

#user_rights {
}

#user_rights td {
	padding: 5px;
}

#user_rights td.nopad {
	padding: 0px;
}

#user_rights tr.header {
	background: #bec2c8;
}
#user_rights tr.header td {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

#dark {
	position: absolute;
	background: #00040b;
	z-index: 999;
	filter:alpha(opacity=80);
	-moz-opacity:.80;
	opacity:.80;
	width: 100%;
	height: 200%;
}

#help {
	z-index: 2999;
	position: absolute;	
	background: url(../img/help.gif);
	padding: 55px 25px 25px 25px;
	
	left: 50%;
	width: 850px;
	margin-left: -450px;
	
	top: 50%;
	height: 520px;
	margin-top: -300px;
	
	overflow: auto;
}

.pagination {
	margin-right: 10px;
	background: #eee;
	color: #444;
	cursor: pointer;
	padding: 2px 7px 2px 7px;
}

.transparent25 {
	filter:alpha(opacity=25);
	-moz-opacity:.25;
	opacity:.25;
}
.transparent50 {
	filter:alpha(opacity=50);
	-moz-opacity:.50;
	opacity:.50;
}

/*
 The DragResize object name is automatically applied to all generated
 corner resize handles, as well as one of the individual classes below.
*/
.dragresize {
 position: absolute;
 width: 5px;
 height: 5px;
 font-size: 1px;
 background: #EEE;
 border: 1px solid #333;
}

/*
 Individual corner classes - required for resize support.
 These are based on the object name plus the handle ID.
*/
.dragresize-tl {
 top: -8px;
 left: -8px;
 cursor: nw-resize;
}
.dragresize-tm {
 top: -8px;
 left: 50%;
 margin-left: -4px;
 cursor: n-resize;
}
.dragresize-tr {
 top: -8px;
 right: -8px;
 cursor: ne-resize;
}

.dragresize-ml {
 top: 50%;
 margin-top: -4px;
 left: -8px;
 cursor: w-resize;
}
.dragresize-mr {
 top: 50%;
 margin-top: -4px;
 right: -8px;
 cursor: e-resize;
}

.dragresize-bl {
 bottom: -8px;
 left: -8px;
 cursor: sw-resize;
}
.dragresize-bm {
 bottom: -8px;
 left: 50%;
 margin-left: -4px;
 cursor: s-resize;
}
.dragresize-br {
 bottom: -8px;
 right: -8px;
 cursor: se-resize;
}

table.custom_table {
}
table.custom_table td {
	border-right: 1px solid #fff; border-bottom: 1px solid #fff; padding: 5px;
}
table.custom_table tr {
	background: #e4e4e5;
}
table.custom_table tr.highlight {
	background: #d4d4d7;
}
table.custom_table tr:hover {
	background: #a4a4ac;
	color: #fff;
}
table.custom_table tr.header td {
	border: 1px solid #fff;
	border-top: 0px;
	border-left: 0px;
	background: #767e8d;
	color: #fff;
	padding: 5px;
}

.tabs {
	list-style:none;
	margin:0 10px;
	padding:0;
}

.tabs li {
	float:left;
	margin:10px 0px 5px;
	background:url(../img/box/t.jpg) repeat-x;
	padding:0;
}

.tabs li .tl {
	background:url(../img/box/tl.jpg) no-repeat;
	width:22px;
	height:20px;
	float:left;
}

.tabs li a {
	float:left;
	display:block;
	padding:3px;
	outline:none;
	color:#999;
	text-decoration: none;
	font-weight: bold;
}

.tabs li a:active {
	outline:none;
}


.tabs li .tr {
	background:url(../img/box/tr.jpg) no-repeat;
	width:22px;
	height:20px;
	float:left;
}

.tabs li.selected {
	margin:5px 0;
}

.tabs li.selected .tl {
	height:25px;
}

.tabs li.selected .tr {
	height:25px;
}

.tabs li.selected a {
	padding:8px 3px 3px 3px;
	color:#192233;
}

.group_nav_select {
	outline: none;
	font-size: 13px;
	background: url(../img/bullet_light.gif) left center no-repeat;
	color: #999;
	text-decoration: none;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	display: block;
	padding: 2px;
	padding-left: 11px;
}
.group_nav_selected {
	color: #000;
	background: url(../img/bullet.gif) left center no-repeat;
}

.swfupload {
	float:left;
	margin:0 12px 0 0;
}

.image_uploads {
	list-style:none;
	margin:0;
	padding:12px;
	max-height:300px;
	overflow-y:scroll;
}

.image_uploads li {
	clear:both;
	margin:0;
	padding:0;
}

.image_uploads span {
	display:block;

}

.image_uploads .file {
	float:left;
	overflow:hidden;
}

.image_uploads .progress {
	width:180px;
	height:20px;
	background-image:url(../img/progress.png);
	background-position:-200px 0;
	background-repeat:no-repeat;
	background-color:black;
	color:white;
	font-weight:bold;
	padding:0 10px;
	line-height:20px;
	border:1px solid #AAAAAA;
	margin:0 0 3px;
	float:right;
}

.upload_multiple {
	border:1px solid #AAAAAA;
	background:#F4F4F4;
	width:99%;
}

.upload_multiple input[type="submit"] {
	float:left;
	margin: 0 12px 0 0;
}

.faux-slider,
.faux-range {
	background-image: url('../img/slider/rail.png');
	background-repeat: repeat-x;
	background-position: center center;
	display: inline-block;
	position: relative;
	height: 17px;
}
input[type="range"], .faux-slider, .faux-range {
	margin-left: 20px;
	margin-right: 20px;
}
.faux-slider-dot {
	position: absolute;
	display: block;
	background-image: url('../img/slider/dot.png');
	background-position: center center;
	background-repeat: no-repeat;
	width: 18px;
	height: 17px;
	top: 0px;
	left: -9px;
	z-index: 3;
}
.faux-range-filler {
	position: absolute;
	height: 5px;
	background-color: #00FF00;
	opacity: 0.7;
	filter: alpha('opacity=70');
	z-index: 2;
	top: 6px;
}

.location_search {
	display: inline-block;
	width: 300px;
	margin-left: 5px;
}
.location_map {
	width: 600px;
	height: 400px;
}
.location_lat {
	display: inline-block;
	width: 100px;
	margin-left: 5px;
	margin-right: 15px;
}
.location_lng {
	display: inline-block;
	width: 100px;
	margin-left: 5px;
}
.loc_search_btn {
	display: inline-block;
	margin-left: 5px;
}