#team{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.block.team{
	height: 100%;
	padding: 10% 0 0 0 !important;
}

.scrollarea figure img {
	height: 480px;
	width: 402px;
}

.scrollarea figure {
	margin: 0 -85px 0 0;
	height: 480px;
	min-width: 318px;
}