
// basic responsive

@media #{$media-phone} {
	.r-no-phone {
		display: none;
	}
}

@media #{$media-tablet} {
	.r-no-tablet {
		display: none;
	}
}

@media #{$media-desktop} {
	.r-no-desktop {
		display: none;
	}
}

@media #{$media-tablet}, #{$media-phone} {
	.r-only-desktop {
		display: none;
	}
}

@media #{$media-tablet}, #{$media-desktop} {
	.r-only-phone {
		display: none;
	}
}

// standard elements

.clear {
	clear: both;
}

a {
	text-decoration: none;
	color: $color-txt;

	&:hover, &:active {
		text-decoration: none;
		color: $color-txt-dark;
	}
}

.content-container {

	.h1, .h2 {
		font-family: $font-pri;
		@include adjusted-lh(1.3);
		color: $color-txt-dark;
	}

	.h1 {
		font-size: pem(34);
	}

	.h2 {
		font-size: pem(24);
	}
}



// standard double arrow link
a.arrow-link {
	$lineHeight : 20px;
	$sizeIcon   : 16px;
	$shiftLeft  : 10px;

	position: relative;
	display: block;
	overflow: hidden;
	padding-left: $sizeIcon + $margin-def / 2;
	line-height: $lineHeight;
	font-size: pem(17);
	color: $color-txt-dark;
	transition: padding-left $speed-fast cubic-bezier(.18,.03,.08,1.06),
				color $speed-fast cubic-bezier(.18,.03,.08,1.06);


	span.arrow,
	&::before , &::after {
		position: absolute;
		@include pseudo-basic;
		width: $sizeIcon;
		height: $sizeIcon;
		top: c-off($lineHeight, $sizeIcon);
		transition: left $speed-fast cubic-bezier(.18,.03,.08,1.06),
					opacity $speed-fast linear;
	}

	&::before, &::after {
		left: 0;
		opacity: 1;
		@include bg-image('arrow-right.svg');
	}
	&::after {
		opacity: 0;
		@include bg-image('arrow-right-pink.svg');
	}

	span.arrow {
		left: -1 * $sizeIcon;
		opacity: 0;
		@include bg-image('arrow-right-pink.svg');
	}

	&:hover, &:active {
		color: $color-pri;
		padding-left: $sizeIcon + $margin-def / 2 + $shiftLeft;

		&::before {
			left: $shiftLeft;
			opacity: 0;
		}
		&::after {
			left: $shiftLeft;
			opacity: 1;
		}

		span.arrow {
			left: 0;
			opacity: 1;
		}
	}
}


// social buttons

.social-buttons {

	$size     : 30px;
	$sizeIcon : 20px;

	@include cf;

	a {
		position: relative;
		display: inline-block;
		width: $size;
		height: $size;

		&::after, &::before {
			@include bg-image('facebook.svg');
			@include pseudo-basic;
			position: absolute;
			width: $sizeIcon;
			height: $sizeIcon;
			top: c-off($size, $sizeIcon);
			left: c-off($size, $sizeIcon);
		}

		&::after {
			opacity: 0;
			transition: opacity $speed-menu;
			@include bg-image('facebook_dark.svg');
		}

		&:hover, &:active {
			&::after {
				opacity: 1;
			}
		}
	}

	// .facebook {
	// }

	.twitter {
		&::before {
			@include bg-image('twitter.svg');
		}

		&::after {
			@include bg-image('twitter_dark.svg');
		}
	}

}

// custom text content editable through cms
.custom-text-content {

	@include link-default;
	line-height: $lineheight-def;

	strong, b {
		font-weight: $bold;
	}

	em, i {
		font-style: italic;
	}

	u {
		text-decoration: underline;
	}

	.content-checkmark {
		display: inline-block;
		width: 17px;
		height: 17px;
		@include bg-contain('check.svg');
		vertical-align: middle;
	}
}


// bold and light text based on <strong> tags
.bold-and-light {
	font-family: $font-thin;

	strong {
		font-family: $font-bold;
		font-weight: $normal;
	}
}



// appear effect (fade in as you scroll down)

.appear-effect {
	transition: opacity $speed-appear;
	transition-delay: 0.05s;
}
.appear-hide {
	opacity: 0.01;
	transition: opacity 0;
	transition-delay: 0;
}
