
// main dimensions
$width-main:   	   1300px;

$width-tablet: 	   1050px;
$width-phone:      640px;
$width-single-col: 480px;

$height-cookiebar: 34px;
$height-menu-pri: 50px;
$height-menu-sec: 35px;

// fonts
$font-pri:    	"helveticaneue-medium", sans-serif;
$font-bold:     "helveticaneue-bold", sans-serif;
$font-light:    "helveticaneue-light", sans-serif;
$font-sec: 		Georgia, serif;
$normal:        400;
$bold:          700;

// annoying property of helvetica neue is that it is shifted up for no good reason
// this upshift value should help using mixins to auto-shift it down where needed
// this was measured with a 14 px font
$font-upshift:  (2.5 / 14) + em;

// colors
$color-pri: #d41046;	// pixel red
$color-sec: #f5f5f5;
$color-ter: #eaeaea;


$color-txt:      	#d1d1d1;	// basic gray text
$color-txt-dark:    #1d1d1d;	// titles & links
$color-txt-soft: 	#8e8e8e;
$color-txt-menu:    #959595;
$color-txt-dark:    #212121;
$color-err:      	#ca2a2a;	// error red
$color-err-bg:   	#fff3f3;	// for backgrounds (of inputs etc)

$color-icon:        #d1d1d1;


$color-bg-pri: 	white;
$color-bg-sec: 	$color-sec;

$color-brd: #d2d2d2;
$color-brd-light: $color-sec;


$height-header: 190px;
$height-header-mobile-bar: 60px;
$margin-header-mobile: 20px;


// basic margins
$margin-def:	20px;
$margin-l:	    50px;
$margin-col:    1.6%;		// must be %!

$padding-def: 	20px;


// media queries
$media-max: 		  "(min-width : #{$width-main})";
$media-desktop: 	  "(min-width : #{$width-tablet})";
$media-desktop-small: "(min-width : #{$width-tablet}) and (max-width : #{$width-main})";
$media-tablet:  	  "(min-width : #{$width-phone}) and (max-width : #{$width-tablet})";
$media-phone:   	  "(max-width : #{$width-phone})";
$media-tablet-min:    "(max-width : #{$width-tablet})";
$media-single-col:    "(max-width : #{$width-single-col})"; 	// switch to single column footer

// z index
$z-menu:    500;
$z-content: 250;
$z-overlay: 1000;


// transitions
$speed-fast:   0.25s;
$speed-menu:   0.4s;
$speed-slider: 0.5s;
