@font-face {
		font-family: 'helveticaneue-bold';
		src: url('../fonts/helveticaneueltpro-bd.eot');
		src: url('../fonts/helveticaneueltpro-bd.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helveticaneueltpro-bd.woff') format('woff'),
				 url('../fonts/helveticaneueltpro-bd.ttf') format('truetype'),
				 url('../fonts/helveticaneueltpro-bd.svg#helveticaneueltpro-bd') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'helveticaneue-light';
		src: url('../fonts/helveticaneueltpro-lt.eot');
		src: url('../fonts/helveticaneueltpro-lt.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helveticaneueltpro-lt.woff') format('woff'),
				 url('../fonts/helveticaneueltpro-lt.ttf') format('truetype'),
				 url('../fonts/helveticaneueltpro-lt.svg#helveticaneueltpro-lt') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'helveticaneue-medium';
		src: url('../fonts/helveticaneueltpro-md.eot');
		src: url('../fonts/helveticaneueltpro-md.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helveticaneueltpro-md.woff') format('woff'),
				 url('../fonts/helveticaneueltpro-md.ttf') format('truetype'),
				 url('../fonts/helveticaneueltpro-md.svg#helveticaneueltpro-md') format('svg');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'helveticaneue-ultralight';
		src: url('../fonts/helveticaneueltpro-ultlt.eot');
		src: url('../fonts/helveticaneueltpro-ultlt.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/helveticaneueltpro-ultlt.woff') format('woff'),
				 url('../fonts/helveticaneueltpro-ultlt.ttf') format('truetype'),
				 url('../fonts/helveticaneueltpro-ultlt.svg#helveticaneueltpro-ultlt') format('svg');
		font-weight: normal;
		font-style: normal;
}