
// animation css for
// http://codepen.io/virgilpana/pen/wBXNJM
// but .. not anymore. silly approach for real-world
// situations



/*
 * Mixin for gradual menu buildup
 */
@mixin menu-li-animation($nth, $total: 7, $delayStep: 0.05, $delayBase: 0.1) {

	li:nth-of-type(#{$nth}) {
		transition-delay: #{ ($total - $nth) * $delayStep }s;
	}
	li.animate:nth-of-type(#{$nth}) {
		transition-delay: #{ ($nth - 1) * $delayStep + $delayBase }s;
	}
}



/*
content

.list{
	margin-top: 36px;
	text-align: left;
}

?
section > div {
    transition: transform 1s;
    transform: translateX(0px);
}
*/

$colorBurger: #e8e7e7;

$widthBurger        : 40px;
$heightBurger       : 30px;
$heightBurgerRows   : 4px;
$distanceBurgerRows : ($heightBurger * 2) / 3;

$fontSizeMenu       : 24;
$widthMenuItem      : 300px;

div.mobile-menu-burger {
	z-index: $z-menu + 10;
	position: absolute;
	height: $heightBurger * 2;
	width: $widthBurger;
	top: ($margin-header-mobile * 2 + $height-header-mobile-bar - $heightBurger) / 2 - ($heightBurger - 5);
	right: $margin-def * 1.5;
	cursor: pointer;
	user-select: none;

	transition: top $speed-collapse;

	div.x, div.y, div.z {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: $colorBurger;
		// border-radius: 2px;
		transition: all 200ms ease-out;
		height: $heightBurgerRows;
		width: $widthBurger;	// 26px
	}
	div.y { top: $distanceBurgerRows + $heightBurgerRows; }
	div.z { top: $distanceBurgerRows * 2 + $heightBurgerRows * 2; }

	div.collapse {
		top: 20px;
		transition: all 70ms ease-out;
	}

	div.rotate30 {
		transform: rotate(30deg);
		transition: all 50ms ease-out;
	}
	div.rotate150 {
	    transform: rotate(150deg);
		transition: all 50ms ease-out;
	}

	div.rotate45 {
	    transform: rotate(45deg);
		transition: all 100ms ease-out;
	}
	div.rotate135 {
	    transform: rotate(135deg);
		transition: all 100ms ease-out;
	}
}


div.mobile-menu-bg {

	z-index: $z-menu + 5;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	transition: all 300ms $transition-function-mobile-menu;

	&.animate {
		opacity: 0.9;
		visibility: visible;
		transition: all 400ms $transition-function-mobile-menu;
	}
}

div.mobile-menu {

	z-index: $z-menu + 10;
	position: fixed;
	height: 100%;
	width: 100%;
	top: $height-header-mobile-bar + $margin-header-mobile * 2;
	left: 0;

	&.animate {
		display: block;
	}

	ul {
		width: $widthMenuItem;
		margin-left: auto;
		margin-right: auto;
	}

	li {
		list-style: none;
		font-size: pem($fontSizeMenu);
		width: 100%;
		margin-bottom: $margin-def * 1.5;
		text-align: center;
		// transition: all 150ms ;
		transition: letter-spacing 0.3s cubic-bezier(0,.01,.75,-0.03),
					opacity 0.2s 0.1s;
		opacity: 0;
		// transform: perspective(1000px) rotate3d(1,0,0,90deg);
  		// transform-origin: 50% 0%;
		letter-spacing: -20px;

		a {
			display: inline-block;
			width: $widthMenuItem;
			color: $color-txt-menu-mobile;
			text-decoration: none;
			font-family: $font-pri;
			margin-top: $font-upshift;
			transition: color $speed-menu;

			&:hover, &:active {
				color: $color-pri;
			}
		}

		&.active a {
			color: $color-pri;
		}

		&.animate {
			opacity: 1;
			letter-spacing: 0;
			// transform: perspective(1000px) rotate3d(1,0,0,0);
			transition: letter-spacing 0.5s cubic-bezier(0,.01,.17,1),
						opacity 1s 0.25s;

			// this breaks everything somehow
			// transition: all 1s $transition-function-mobile-menu;
		}
	}

	// fade in one from top to bottom and back
	@include menu-li-animation(1);
	@include menu-li-animation(2);
	@include menu-li-animation(3);
	@include menu-li-animation(4);
	@include menu-li-animation(5);
	@include menu-li-animation(6);
	@include menu-li-animation(7);

}

div.mobile-menu-header-overlay {
	user-select: none;
	transition: padding-top $speed-collapse,
				height $speed-collapse,
				background-color 300ms $transition-function-mobile-menu;

	.main-logo {
		.logo::after {
			opacity: 0;
			visibility: hidden;
			transition: all 300ms $transition-function-mobile-menu;
		}
	}

	&.animate {
		background-color: transparent;

		.main-logo {
			.logo::after {
				opacity: 1;
				visibility: visible;
				transition: all 300ms $transition-function-mobile-menu;
			}
		}
	}
}

@media #{$media-desktop} {

	div.mobile-menu.animate {
		display: none;
	}

}

// not high enough to neatly fit menu vertically
@media (max-device-height: 660px) {
	div.mobile-menu {

		li {
			margin-bottom: $margin-def;
		}
	}
}

@media (max-device-height: 580px) {
	div.mobile-menu {

		li {
			margin-bottom: $margin-def / 2;
		}
	}
}

@media (max-device-height: 500px) {
	div.mobile-menu {

		li {
			font-size: pem($fontSizeMenu - 4);
		}
	}
}

// landscape ugliness
@media (max-device-width: 540px) and (orientation: landscape) {
	div.mobile-menu {

		li {
			font-size: pem($fontSizeMenu * 0.5);
		}
	}
}
