
$heightBar    : $height-header-mobile-bar;
$height       : $heightBar + $margin-header-mobile * 2;
$heightSmall  : $heightBar;

$heightBurger : 30px;

// mobile menu for tablet and smaller
@media #{$media-tablet-min} {

	header.main {
		z-index: $z-menu + 5;
		height: $height;

		.container {
			padding-top: c-off($height, $heightBar);
			padding-bottom: c-off($height, $heightBar);

			// disable transition of non-mobile menu
			// to prevent seeing gray background when scrolling
			// up during de-collapse animation
			transition: height 0s,
						padding-top 0s;
		}

		.top-bar {
			height: $heightBar;
			line-height: $heightBar;
		}

		.social-menu-floater {
			display: none;
		}
	}

	.main-logo {
		$widthLogo  : 66px;
		$heightLogo : 25px;

		img, .logo, &::after {
			top: c-off($heightBar, $heightLogo);
		}
	}

	div.mobile-menu-header-overlay {
		z-index: $z-menu + 10;
		position: fixed;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: $height;
		padding-top: $margin-header-mobile;
		background-color: white;

		transition: height $speed-collapse,
				    padding-top $speed-collapse;

		.main-logo {

			img, .logo {
				position: relative;
				content: ""; // fake content to make after work

				@include bg-contain('logo.svg');

				&::after {
					@include pseudo-basic;
					@include absolute-cover;
					@include bg-contain('logo_white.svg');
				}
			}
		}
	}

	nav.main {
		// just for testing
		display: none;
	}

	div.mobile-menu-bg,
	 div.mobile-menu-burger {
		display: block;
	}

	div.mobile-menu {
		.phone-number {
			position: fixed;
			left: 0;
			bottom: $margin-def * 2.5;
			width: 100%;
			height: $margin-def;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			font-size: pem(22);
			color: $color-txt-menu-mobile;
		}
	}

	// collapsed top menu bar
	body.collapsed-top {

		header.main {
			height: $height-header-mobile-bar + $margin-def / 4;

			.container {
				padding-top: 0; //c-off($heightSmall, $heightBar);
				padding-bottom: 0; //c-off($heightSmall, $heightBar);
				height: $height-header-mobile-bar + $margin-def / 4;
			}
		}

		div.mobile-menu-header-overlay {
			padding-top: 0;
			height: $height-header-mobile-bar + $margin-def / 4;
		}

		div.mobile-menu-burger {
			top: ($height-header-mobile-bar - $heightBurger) / 2 - ($heightBurger - 5);
		}

		div.mobile-menu {
			top: $height-header-mobile-bar + $margin-def * 2;
		}
	}
}
