// help during debugging
@mixin debug() {
	outline: 3px dashed red;
}

@function strip-units($number) {
	@return $number / ($number * 0 + 1);
}


// simple offset adjustment calculation shorthand:
// inner element in outer element, both with fixed height,
// calculates top / margin-top pixel adjustment to center
@function c-off($outer, $inner) {
	@return ($outer - $inner) / 2;
}

// image-url compass replacement hack
$image-url-path: "../img/" !default;

@function image-url($url) {
  @return url("#{$image-url-path}#{$url}");
}

// shorter version of cf include
@mixin cf() {
	@include pie-clearfix();
}


// font size
$baseFontSize: 16;

// Convert PX units to EMs.
@function pem($pxval, $base: $baseFontSize) {
  @return #{$pxval / $base}em;
}

// lineheight top margin adjustment so text aligns to design margins
@function adjust-top-lh($lineHeight) {
	// margin-top: -1px * ($fontSize * $lineHeight - $fontSize) / 2;
	@return #{-1 * ($lineHeight - 1) / 2}em;
}

@mixin adjusted-lh($lineHeight) {
	$lineHeight: strip-units($lineHeight);

	line-height: #{$lineHeight}em;
	margin-top: adjust-top-lh($lineHeight);
}


// column calculations

// absolute margin column calc: % result
@function col-width-abs($columns, $margin) {
	@return calc(#{100% / $columns} - #{$margin * 2 / 3})
}
// percentage margin column calc
@function col-width-prc($columns, $margin) {
	@return (100% - $margin) / $columns;
}



// placeholder (input attribute)
@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder           { @content }
  &::-moz-placeholder          { @content }
  &:-ms-input-placeholder      { @content }
}

// main link
@mixin link-default {
	a {
		color: $color-pri;

		&:hover, &:active {
			color: lighten($color-pri, 10);
		}
	}
}

// menu links
@mixin link-menu {
	a {
		color: $color-txt-menu;
		transition: all $speed-menu;
		text-decoration: none;

		&:hover, &:active {
			color: $color-pri;
		}

		&.active {
			color: $color-txt-dark;
		}
	}
}

// basic text formatting -- set for cms-settable content blocks
@mixin text-formatting {

	strong, b {
		font-weight: $bold;
	}

	em, i {
		font-style: italic;
	}

	u {
		text-decoration: underline;
	}
}

// absolutely positioned object that fully covers parent
@mixin absolute-cover() {
	position: absolute;
	top: 0;
	left: 0;
	// bottom: 0;
	// right: 0;
	width: 100%;
	height: 100%;
}

// set background image
@mixin bg-image($image, $inline: '') {
	// @if $inline == 'inline' {
	// 	background-image: inline-image($image);
	// } @else {
		background-image: image-url($image);
	// }
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

// standard contain rules for background images
@mixin bg-contain($image: '') {

	@if $image != '' {
		background-image: image-url($image);
	}
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

// standard conver rules for background images
@mixin bg-cover($image: '') {

	@if $image != '' {
		background-image: image-url($image);
	}
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// basics for standard use of pseudo after/before blocks
@mixin pseudo-basic() {
	content: "";
	display: inline-block;
}
