/*
 * Fancy preroll effect
 */

#preroll-container {
	z-index: $z-overlay + 10;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 101%;

	background-color: white;
	font-size: 0;
	text-align: center;

	&:before {
		@include pseudo-basic;
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		font-size: $fontsize-base;
	}

	.pxl {
		position: relative;
		font-size: $fontsize-base;
		display: inline-block;
		vertical-align: middle;
		width: 5%;

		img {
			width: 66px;
		}

		&::after {
			@include pseudo-basic;
			@include absolute-cover;
			background-color: white;
			transition: top 2.5s ease-in-out;
			// cubic-bezier(.17,.67,.83,.67);
		}

	}
	&.animate .pxl {
		&::after {
			top: -100%;
		}
	}
}